/* entire document */
body{
  background:  #6441A4 ; 
    font-family: 'Roboto Mono', monospace;
}

/* twitch streamer */
.logo{
  max-width: 85px;
  max-height: 85px; 
}

.textCenter{
  text-align: center; 
}
table{
  width: 600px; 
  height: 85px; 
  color: #6441A4; 
  font-size: .9em; 
  background: white; 
}
table:hover{
  background: #E0CFFF;
}
img{
  vertical-align: bottom; 
}

.online{
  border:4px solid #8CE196;
}

.online:hover{
  border:4px solid #6DB075;
}

.offline{
  border:4px solid #E1CFCF;
}

.offline:hover{
  border:4px solid #A89B9B;
}

.name, .game{
  font-size: 1.2em;
}
.banner{
  width: 600px; 
}

.smallDetails{
  font-size: 12px; 
}

td{
  border: 1px solid black;
}